.blog-screen{
    display: flex;
    flex-direction: column;
    width: 60vw;
    /* height: 30vh; */
    border: 1px solid black;
    /* align-items: center; */
    /* justify-content: center; */
    margin: auto;
}
.blog-sub-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}
